---
import { conjugationGroups } from "@src/constants";

const chosenConjugationTypeStrings =
    Astro.url.searchParams.getAll("conjugations") || [];

const chosenTopic = Astro.url.searchParams.get("topic") || "";
---

<form action="/test/">
    <h2>Choose your conjugations</h2>
    {
        conjugationGroups.map((group) => (
            <fieldset>
                <legend>{group.name}</legend>
                {group.subgroups.map((subgroup) => (
                    <label>
                        <input
                            type="checkbox"
                            name="conjugations"
                            value={`${group.name}__${subgroup.name}`}
                            checked={chosenConjugationTypeStrings.includes(
                                `${group.name}__${subgroup.name}`,
                            )}
                        />
                        {subgroup.name}
                    </label>
                ))}
            </fieldset>
        ))
    }
    <h3>Choose a topic (optional)</h3>
    <p>The AI will generate sentences related to this topic.</p>
    <div>
        <label>
            Topic<br />
            <input type="text" name="topic" value={chosenTopic} />
        </label>
    </div>

    <button type="submit">Start</button>
</form>
